*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; }

::-moz-selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

::selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

html {
	color: var(--text-color);
	background: var(--near-white);
	font-size: var(--global-font-size);
	min-width: 320px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

body {
	margin: 0; }

body,
button,
input,
select,
textarea {
	line-height: 1.76471; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
section,
summary {
	display: block;
	margin: 0;
	padding: 0; }

pre {
	padding-left: 80px; }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline; }

audio:not([controls]) {
	display: none;
	height: 0; }

p {
	margin: 0; }

hr {
	height: 1px;
	border: 0;
	margin: 0;
	color: var(--text-color); }

picture {
	display: block; }

b,
strong {
	font-weight: var(--bold); }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; }

small {
	font-size: calc(var(--global-font-size) / 2); }

sub,
sup {
	font-size: calc((var(--global-font-size) / 2) * 0.75);
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -.5em; }

sub {
	bottom: -.25em; }

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation; }
	a:active, a:hover {
		outline: 0; }

img {
	border: 0; }

svg:not(:root) {
	overflow: hidden; }

ol,
ul {
	list-style: none; }

li,
ol,
ul {
	margin: 0;
	padding: 0; }

blockquote,
q {
	margin: 0;
	quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

td,
th {
	padding: 0; }

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	border-radius: 0;
	border: 0;
	background: 0 0; }

button,
select {
	text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

input {
	line-height: normal; }

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto; }

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none; }

fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0; }

textarea {
	overflow: auto; }

.wrapper {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; }

@media (min-width: 581px) {
	.wrapper {
		padding-left: 40px;
		padding-right: 40px; } }

.wrapper--full {
	padding: 0; }

.wrapper--no-center {
	margin: 0; }

.wrapper--main-inner {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

@media (min-width: 581px) {
	.wrapper--main-inner {
		max-width: 760px; } }

.wrapper--main-inner.wrapper--full {
	max-width: 680px; }

.wrapper--main-middle {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 904px; }

@media (min-width: 581px) {
	.wrapper--main-middle {
		max-width: 944px; } }

.wrapper--main-middle.wrapper--full {
	max-width: 864px; }

.wrapper--main-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1090px; }

@media (min-width: 581px) {
	.wrapper--main-outer {
		max-width: 1130px; } }

.wrapper--main-outer.wrapper--full {
	max-width: 1050px; }

.wrapper--main-outermost {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1590px; }

@media (min-width: 581px) {
	.wrapper--main-outermost {
		max-width: 1630px; } }

.wrapper--main-outermost.wrapper--full {
	max-width: 1550px; }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap {
		-webkit-transition: .2s padding ease;
		transition: .2s padding ease;
		max-width: 720px; } }

@media (max-width: 890px) and (min-width: 581px) {
	.wrapper--main-inner-below-lap {
		max-width: 760px; } }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap.wrapper--full {
		max-width: 680px; } }

.wrapper--main-inner-then-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

.wrapper--main-inner-then-outer.wrapper--full {
	max-width: 680px; }

@media (min-width: 581px) {
	.wrapper--main-inner-then-outer {
		max-width: 760px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 680px; } }

@media (min-width: 891px) {
	.wrapper--main-inner-then-outer {
		max-width: 1130px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 1050px; } }

.content {
	padding-top: 120px;
	padding-bottom: 80px; }

@media (min-width: 891px) {
	.content {
		padding-bottom: 150px; } }

.content--flush {
	padding-bottom: 0; }

.content__module + .content__module {
	margin-top: 40px; }

@media (min-width: 581px) {
	.content__module + .content__module {
		margin-top: 60px; } }

@media (min-width: 891px) {
	.content__module + .content__module {
		margin-top: 100px; } }

.content__module + .content__module--close,
.content__module--close {
	margin-top: 80px; }

.content__module--flush:last-child {
	margin-bottom: -42px; }

@media (min-width: 581px) {
	.content__module--flush:last-child {
		margin-bottom: -62px; } }

@media (min-width: 891px) {
	.content__module--flush:last-child {
		margin-bottom: -51px; } }

.content__module--flush + .content__module--flush,
.content__module--flush + .content__module--flush-top,
.content__module--overlap-below + .content__module--flush {
	margin-top: 0; }

@media (min-width: 951px) {
	.content__module--overlap-below + .content__module--flush {
		margin-top: -10px;
		position: relative;
		z-index: -1; } }

/* Styles  -- should import other styles */
/* Hide this visually on the page -- good for h1 tags that we don't want to see, but need that sweet, sweet, seo from */
.make-visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	height: 1px;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important; }

/* No reason not to have a cool thing happen when people select text, right? */
::selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

body.tax-location #taxonomy-header {
	padding-left: 80px;
	min-width: 100%;
	height: 700px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end; }
	body.tax-location #taxonomy-header .address-information {
		background-blend-mode: lighten;
		padding: 2em;
		background: rgba(245, 247, 242, 0.8);
		max-width: 60%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		color: #0273b9; }
		body.tax-location #taxonomy-header .address-information > :first-child {
			font-size: 2rem;
			text-transform: uppercase; }

body.tax-location #currently-available-positions-at-this-location {
	padding-left: 80px;
	min-width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center; }
	body.tax-location #currently-available-positions-at-this-location .jobs-grid {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center; }
		body.tax-location #currently-available-positions-at-this-location .jobs-grid figure {
			display: flex;
			flex-flow: row nowrap;
			margin: 3em auto;
			color: #f5f7f2;
			background: #0273b9;
			font-size: 0.875em;
			width: 40vw; }
			body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption {
				padding: 1.25rem;
				box-sizing: border-box;
				position: relative;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-around;
				align-items: center; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption:before {
					position: absolute;
					content: '';
					display: block;
					height: 0;
					width: 0;
					border-style: solid;
					border-width: 1rem;
					border-color: transparent #0273b9 transparent transparent;
					top: 50%;
					margin-top: -1rem;
					left: -2rem; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h3,
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 {
					font-family: Roboto, -apple-system, BlinkMacSystemFont;
					color: #f5f7f2;
					letter-spacing: .1rem; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 {
					font-style: italic;
					margin-bottom: 0.4rem; }
					body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 span {
						margin-right: .876rem; }
					body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a {
						color: rgba(50, 50, 50, 0.6);
						font-weight: 700;
						text-shadow: none; }
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a::before {
							color: #fff;
							content: attr(data-hover);
							position: absolute;
							transition: transform 0.3s, opacity 0.3s; }
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a:hover::before,
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a :focus::before {
							transform: scale(0.9);
							opacity: 0; }

footer {
	min-width: 100%;
	background: #0273b9; }
	footer section#contains-locations-dropdown .select-outer-div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 10vh;
		/* Reset Select */
		/* Custom Select */ }
		footer section#contains-locations-dropdown .select-outer-div select {
			appearance: none;
			outline: 0;
			box-shadow: none;
			border: 0 !important;
			background: #2c3e50;
			background-image: none;
			flex: 1;
			padding: 0 .5em;
			color: #f5f7f2;
			cursor: pointer;
			/* Remove IE arrow */ }
			footer section#contains-locations-dropdown .select-outer-div select option {
				letter-spacing: 4px; }
			footer section#contains-locations-dropdown .select-outer-div select:-ms-expand {
				display: none; }
		footer section#contains-locations-dropdown .select-outer-div .select {
			position: relative;
			display: flex;
			width: 15em;
			height: 3em;
			line-height: 3;
			background: #515153;
			overflow: hidden;
			border-radius: .25em;
			/* Arrow */
			/* Transition */ }
			footer section#contains-locations-dropdown .select-outer-div .select::after {
				color: #f5f7f2;
				content: '\25BC';
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 1em;
				background: #515153;
				cursor: pointer;
				pointer-events: none;
				-webkit-transition: .25s all ease;
				-o-transition: .25s all ease;
				transition: .25s all ease; }
			footer section#contains-locations-dropdown .select-outer-div .select:hover::after {
				color: #0273b9; }
	footer section#single-location {
		width: 15em;
		margin: 0px auto;
		max-width: 50%;
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap; }
		footer section#single-location > div.single-location {
			-webkit-flex-flow: column nowrap;
			-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
			-webkit-box-pack: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			background: #0273b9;
			color: #f5f7f2;
			opacity: 1;
			transition: opacity 1.4s ease-in-out; }

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
:--heading {
	color: var(--darker-gray);
	margin: 0; }

/*# sourceMappingURL=../../maps/dev/css/partials.css.map */
