@import "partials/mixins.scss";
@import "partials/general-styles.scss";
@import "partials/utility.scss";
@import "partials/footer.scss";

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
	color: var(--darker-gray);
	margin: 0;
}
