@import "partials/variables.scss";

:root {
	--font-size: 8px;
	--margin: 60px;
	--item-height: 40px;
	--offset-top: 9px;
	--letter-spacing: .082rem;
	--less-transparent-dark: rgba(4, 8, 12, .8);
	--transparent-dark: rgba(2, 2, 2, .6);
	--menu-text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
	--standard-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--light-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
	--wacky-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.84);
	--line-height: 0.8rem;
	--item-width: 10rem;
	--link-font-size: 8px;
}

body {
	padding: 0px;
	margin: 0;
	margin-left: var(--margin);

	fieldset {
		border: none;
	}

	.hidden {
		display: none;
	}

	// pretty sure this is a universal class in materialize

	h1.sidemenu {
		color: white;
		position: absolute;
		right: 20px;
		bottom: -100vh;
		text-transform: uppercase;
		text-align: right;
		font-size: 60px;
		font-weight: 700;
	}

	// end h1.sidemenu
}

// end body

// ======= SIDE MENU BASE
header#mainHeader {
	width: $margin;
	height: 100%;
	display: inline-block;
	position: fixed;
	z-index: 14;
	top: 0px;
	left: 0;
	transition: left 0.5s ease-in-out 0.2s;
	background-color: var(--transparent-dark);
	z-index: 1000;

	// #mainHeader > nav
	// entirety of the menu when not moused over
	>nav {
		height: 100%;
		background-color: unset;
		background-color: transparent;
		width: $margin;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		letter-spacing: var(--letter-spacing);
		line-height: var(--line-height);

		// div that contains the hamburger
		.top-header {
			background-color: var(--transparent-dark);
			position: relative;
		}

		// nav .top-header
		&:after {
			content: ' ';
			background-color: var(--transparent-dark);
			width: $margin;
			height: 100%;
			position: absolute;
			left: 0px;
		}

		// nav:after

		&:before {
			content: ' ';
			height: 100%;
			width: 0px;
			background-color: var(--less-transparent-dark); // was #424a5c
			position: absolute;
			left: $margin;
			transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			box-shadow: var(--wacky-box-shadow);
		}

		// nav:before


		// BURGER
		.navBurger {
			cursor: pointer;
			width: 100%;
			height: 45px;

			.burger {
				margin-left: 18px;
				margin-top: 30px;
				// box-shadow: 1px 2px 3px black;
				cursor: pointer;

				// horizontal stripes (the Burger)
				&,
				&::before,
				&::after {
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 -1px 3px rgba(0, 0, 0, 0.12), -1 1px 3px rgba(0, 0, 0, 0.12);
					border-radius: 2px;
					position: absolute;
					z-index: 100;
					width: 24px; // 18px +
					height: 4px;
					background: white;
					transition: all 0.3s;
				}

				// all horizontal stripes

				&::before,
				&::after {
					content: "";
					display: block;
					box-shadow: var(--menu-text-shadow);
				}

				// top and bottom 'bun' of the burger

				&::before {
					margin-top: -8px;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				}

				// .burger::before

				&::after {
					margin-top: 8px;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				}

				// .burger::after
			}

			//.burger

		}

		// end navBurger

		// menu items list
		ul {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 100%;
			margin-top: calc(40vh - 260px); // where on the page do the menu items begin?

			// menu item
			li {
				width: $margin;
				width: var(--item-width);
				height: var(--item-height);
				cursor: pointer;
				position: relative;
				display: block;

				a {
					top: var(--offset-top);
					// width: $link-width;
					color: white;
					-webkit-text-stroke: 0.5px var(--light-gray);
					-webkit-text-fill-color: white;
					padding-left: 2px;
					position: relative;
					z-index: 0;
					opacity: 0;
					left: -80px;
					text-transform: uppercase;
					transition: left 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
					// color: #fff;
					text-decoration: none;

					&.side-menu-link {
						font-size: unset;
						font-size: 6px;
					}
				}

				&:before {
					z-index: 10;
					content: ' ';
					width: 8px;
					height: 8px;
					box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 -1px 3px rgba(0, 0, 0, 0.12), -1px 1px 2px rgba(0, 0, 0, 0.24);
					background-color: transparent;
					position: absolute;
					left: 26px;
					top: 16px;
					border-radius: 50%;
					border: 2px solid white;
					transform: scale(1) translate3d(0, 0, 0);
					transition: all 0.2s ease-in-out;
				}

				a:hover,
				a:active,
				a:visited,
				a:focus {
					background-color: transparent !important;
					color: yellow;

				}

				&:hover {
					&:before {
						background-color: white;
					}
				}

				&.active,
				&:hover {
					&:before {
						transform: scale(1.5) translate3d(0, 0, 0);
						background-color: white;
					}
				}

			}

			// endmenu item
		}

		// end menu items list


		// nav:hover
		&:hover {

			// nav:hover:before
			&:before {
				// width: 160px;
				width: 200px;
				transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			// ======= HAMBURGER BUNS FORM AN 'X' ON HOVER
			// nav:hover .burger
			.burger {
				transform: rotate(45deg) translate3d(0, 0, 0);

				&::before {
					margin-top: 0px;
					transform: rotate(-90deg) translate3d(0, 0, 0);
				}

				// end nav:hover .burger::before
				&::after {
					margin-top: 0px;
					transform: rotate(0deg) translate3d(0, 0, 0);
				}

				// end nav:hover .burger::after
			}

			// end nav:hover .burger

			// nav:hover li
			li {
				a {
					left: 70px;
					/* control the distance the menu items will be offset from the left of the page when the menu is hovered */
					left: 65px;
					opacity: 1;
					transition-duration: 0.4s;
					transition-property: left, opacity;
					transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
				}

				// nav:hover li a

				// stagger the maximum 8 menu items as they transition on screen from left
				&:nth-child(1) a {
					transition-delay: 0.3s;
				}

				&:nth-child(2) a {
					transition-delay: 0.34s;
				}

				&:nth-child(3) a {
					transition-delay: 0.38s;
				}

				&:nth-child(4) a {
					transition-delay: 0.42s;
				}

				&:nth-child(5) a {
					transition-delay: 0.46s;
				}

				&:nth-child(6) a {
					transition-delay: 0.50s;
				}

				&:nth-child(7) a {
					transition-delay: 0.54s;
				}

				&:nth-child(8) a {
					transition-delay: 0.58s;
				}

				&:nth-child(9) a {
					transition-delay: 0.62s;
				}

				&:nth-child(10) a {
					transition-delay: 0.66s;
				}

				&:nth-child(11) a {
					transition-delay: 0.7s;
				}

				&:nth-child(12) a {
					transition-delay: 0.74s;
				}

				&:nth-child(13) a {
					transition-delay: 0.78s;
				}

			}

			// nav:hover li

		}

		// end nav:hover

	}

	// end header#mainHeader > nav

}