/* Styles  -- should import other styles */
/* Hide this visually on the page -- good for h1 tags that we don't want to see, but need that sweet, sweet, seo from */
.make-visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	height: 1px;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
}

/* No reason not to have a cool thing happen when people select text, right? */
::selection {
	color: var(--near-white);
	background-color: var(--select-bg);
}
