$near-white: rgba(245, 247, 242, .8);
$global-left-padding: 80px;
$global-font-color: #32325d;
$highlight-font-family: Montserrat,
serif;
$primary-font-family: $highlight-font-family;
$secondary-font-family: $highlight-font-family;
$global-font-size: 20;
$global-font-line-height: 1.4;
$content-width: 45;
$dropdown-symbol-width: 0.7em;
$select-width: 15em;
$small-font-size: 16;
$regular-font-size: 20;
$large-font-size: 36;
$larger-font-size: 48;
$jones-blue: #0273b9;
$menu-yellow: #e39f48;
$menu-orange: #e25950;
$mayoral-gray: #515153;
$light-gray: #cccccc;
$darker-gray: #383839;
$text-color: 595c5d;
$visited-link-color: #cccccc;
$primary-color: #515153;
$secondary-color: rgb(232, 82, 8);
$chip-bg-color: #e4e4e4;
$medium-gray: #9e9e9e;
$chip-selected-color: #26a69a;
$color-text: #949494;
$color-bg: #0e0e0f;
$color-link: #b78a84;
$color-link-hover: #fff;
$light: 300;
$medium: 400;
$mediumer: 500;
$heavy: 600;
$heaviest: 900;
$bold: 700;
$bolder: 900;
$select-bg: #6ad6e2;


// media queries
$narrow-menu-query: screen and (max-width: 37.5em);
$wide-menu-query: screen and (min-width: 37.5em);
$content-query: screen and (min-width: 48em);
$sidebar-query: screen and (min-width: 60em);

// SIDE MENU
$margin: 60px;
$list-item-font-size: 8px;
$bg-menu-shown: rgba(40, 80, 120, .8);
$bg-menu-hidden: rgba(2, 115, 185, .8);
$link-width: 190px;
