@charset "UTF-8";
/* FLEXBOX ALIGN SELF */
/* Applies to an individual flex item */
/* Values: auto (default) | flex-start | flex-end | center | baseline | stretch */
/* begin the css variables */
:root {
	--color-text: #777818;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #000;
	--color-info: #000; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block; }

audio,
canvas,
video {
	display: inline-block; }

audio:not([controls]) {
	display: none;
	height: 0; }

[hidden] {
	display: none; }

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

body {
	margin: 0; }

a:focus {
	outline: thin dotted; }

a:active,
a:hover {
	outline: 0; }

h1 {
	font-size: 2em;
	margin: 0.67em 0; }

abbr[title] {
	border-bottom: 1px dotted; }

b,
strong {
	font-weight: bold; }

dfn {
	font-style: italic; }

hr {
	box-sizing: content-box;
	height: 0; }

mark {
	background: #69972d;
	color: var(--color-text); }

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 0.6rem; }

pre {
	color: white; }

q {
	quotes: "“" "”" "‘" "’"; }

small {
	font-size: 80%; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -0.5em; }

sub {
	bottom: -0.25em; }

img {
	border: 0; }

svg:not(:root) {
	overflow: hidden; }

figure {
	margin: 0; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em; }

legend {
	border: 0;
	padding: 0; }

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0; }

button,
input {
	line-height: normal; }

button,
select {
	text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer; }

button[disabled],
html input[disabled] {
	cursor: default; }

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0; }

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

textarea {
	overflow: auto;
	vertical-align: top; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

*,
*::after,
*::before {
	box-sizing: border-box; }

html {
	background-color: var(--color-bg, #fff);
	color: var(--color-text); }

body {
	min-height: 100vh;
	background-color: var(--color-bg, #fff);
	-webkit-font-smoothing: antialiased; }

/* Page Loader */
.js .loading::before {
	content: "";
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg); }

.js .loading::after {
	content: "";
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards; }

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1); } }

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none; }
	a:hover, a:focus {
		color: var(--color-link-hover);
		outline: none; }

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none; }

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text); }

.grid__item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw; }

.grid__item--bg {
	background-color: var(--item-bg);
	height: 100vw;
	align-self: end; }

.grid__item-content {
	width: 100%;
	padding: 8vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	pointer-events: none;
	background: var(--item-bg); }

.grid__item--bg .grid__item-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0; }

.grid__item-img {
	display: block;
	height: 100%;
	width: 100%; }
	.grid__item-img canvas {
		height: 100%; }
	.grid__item-img img {
		height: 100%;
		display: block; }
	.grid__item-img img:nth-child(2) {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s; }

.grid__item:hover .grid__item-img img:nth-child(2) {
	opacity: 1; }

.js .grid__item-img img {
	display: none; }

.grid__item-title {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1;
	margin: 2rem 0 0 0;
	color: var(--item-title); }

.grid__item-title--small {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 1rem; }

.grid__item-meta {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25rem;
	font-size: 0.95rem;
	color: var(--item-meta); }

.grid__item-subtitle {
	display: block;
	margin: auto 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle); }
	.grid__item-subtitle span {
		display: block; }

.grid__item-text {
	font-size: 1rem;
	line-height: 1.75;
	margin: 2rem 0 0 0;
	color: var(--item-text); }

.grid__item-link {
	display: inline-block;
	font-weight: 700;
	font-size: 0.95rem;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link); }
	.grid__item-link:focus, .grid__item-link:hover {
		color: var(--item-link-hover); }

.grid__item-link::before {
	content: "";
	position: absolute;
	background: currentColor;
	width: 80%;
	height: 1px;
	bottom: 0;
	transform-origin: 0% 50%;
	transform: scale3d(0, 1, 1);
	opacity: 0;
	transition: all 0.3s;
	transition-property: opacity, transform; }

.grid__item-link:hover::before {
	opacity: 1;
	transform: scale3d(1, 1, 1); }

.grid__item-link + .grid__item-link {
	margin: 0 0 0 3rem; }

.grid__item-text + .grid__item-link {
	white-space: nowrap;
	align-self: flex-start;
	margin-top: auto; }

.grid__item-nav {
	display: flex; }

/* Themes */
.theme-1 {
	--grid-align: end;
	--item-bg: #4bb4e7;
	--item-link: #fff;
	--item-link-hover: #0d2936;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-2 {
	--item-bg: rgba(0, 0, 0, 0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-3 {
	--item-bg: rgba(0, 0, 0, 0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-4 {
	--item-bg: #12161e;
	--item-link: #fff;
	--item-link-hover: #9e6817;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-5 {
	--item-bg: #efe9dd;
	--item-link: #12161e;
	--item-link-hover: #0d13c1;
	--item-meta: #fff;
	--item-title: #12161e;
	--item-subtitle: #12161e;
	--item-text: #12161e; }

.theme-6 {
	--item-bg: rgba(0, 0, 0, 0);
	--item-link: #12161e;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #ffffff;
	--item-subtitle: #12161e;
	--item-text: #ffffff; }

.theme-7 {
	--item-bg: rgba(0, 0, 0, 0);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-8 {
	--item-bg: #0c13c1;
	--item-link: #dd8ca5;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-9 {
	--item-bg: #c9efee;
	--item-link: #000000;
	--item-link-hover: #e80c40;
	--item-meta: #fff;
	--item-title: #000;
	--item-subtitle: #000;
	--item-text: #000; }

.theme-10 {
	--item-bg: rgba(0, 0, 0, 0);
	--item-link: #000;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #000;
	--item-text: #fff; }

.theme-11 {
	--item-bg: rgba(0, 0, 0, 0);
	--item-link: #000;
	--item-link-hover: #fff;
	--item-meta: #000;
	--item-title: #000;
	--item-subtitle: #000;
	--item-text: #000; }

.theme-12 {
	--item-bg: #4d565b;
	--item-link: #f6fbfe;
	--item-link-hover: #000000;
	--item-meta: #f6fbfe;
	--item-title: #f6fbfe;
	--item-subtitle: #f6fbfe;
	--item-text: #f6fbfe; }

.theme-13 {
	--item-bg: #d22851;
	--item-link: #712a3b;
	--item-link-hover: #f6fbfe;
	--item-meta: #f6fbfe;
	--item-title: #f6fbfe;
	--item-subtitle: #f6fbfe;
	--item-text: #f6fbfe; }

.theme-14 {
	--item-bg: rgba(0, 0, 0, 0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-15 {
	--item-bg: rgba(0, 0, 0, 0.3);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-16 {
	--item-bg: #010101;
	--item-link: #63676b;
	--item-link-hover: #f6fbfe;
	--item-meta: #f6fbfe;
	--item-title: #f6fbfe;
	--item-subtitle: #f6fbfe;
	--item-text: #f6fbfe; }

.theme-17 {
	--item-bg: #ece7e5;
	--item-link: #d68d13;
	--item-link-hover: #2d2c2c;
	--item-meta: #2d2c2c;
	--item-title: #2d2c2c;
	--item-subtitle: #2d2c2c;
	--item-text: #2d2c2c; }

.theme-18 {
	--item-bg: rgba(0, 0, 0, 0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

.theme-19 {
	--item-bg: rgba(0, 0, 0, 0.1);
	--item-link: #6317f5;
	--item-link-hover: #fff;
	--item-meta: #6317f5;
	--item-title: #fff;
	--item-subtitle: #6317f5;
	--item-text: #fff; }

.theme-20 {
	--item-bg: #6317f5;
	--item-link: #b29d85;
	--item-link-hover: #ffffff;
	--item-meta: #ffffff;
	--item-title: #ffffff;
	--item-subtitle: #ffffff;
	--item-text: #ffffff; }

.theme-21 {
	--item-bg: #f7ac03;
	--item-link: #ffffff;
	--item-link-hover: #2d2c2c;
	--item-meta: #2d2c2c;
	--item-title: #ffffff;
	--item-subtitle: #2d2c2c;
	--item-text: #2d2c2c; }

.theme-22 {
	--item-bg: rgba(0, 0, 0, 0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff; }

@media screen and (min-width: 85em) {
	.grid__item-text {
		width: 80%; } }

@media screen and (min-width: 50em) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 50vmax); }
	.grid__item {
		height: 50vmax;
		width: 100%; }
	.grid__item-subtitle * {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
		transition-property: transform, opacity; }
	.grid__item:hover .grid__item-subtitle * {
		opacity: 1;
		transform: translate3d(0, 0, 0); }
	.grid__item:hover .grid__item-subtitle span {
		transition-delay: 0.1s; }
	.grid__item:hover .grid__item-subtitle .grid__item-link {
		transition-delay: 0s; }
	.grid__item-title {
		font-size: 6vw; }
	.grid__item-title--small {
		font-size: 3vw; }
	.grid__item-text {
		margin-top: 2.5rem; } }

footer {
	min-width: 100%;
	background: #0273b9; }
	footer section#contains-locations-dropdown .select-outer-div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 10vh;
		/* Reset Select */
		/* Custom Select */ }
		footer section#contains-locations-dropdown .select-outer-div select {
			appearance: none;
			outline: 0;
			box-shadow: none;
			border: 0 !important;
			background-image: none;
			background-color: #0273b9;
			flex: 3;
			padding: 0 .5em;
			color: rgba(245, 247, 242, 0.8);
			cursor: pointer;
			/* Remove IE arrow */ }
			footer section#contains-locations-dropdown .select-outer-div select option {
				letter-spacing: 4px; }
			footer section#contains-locations-dropdown .select-outer-div select:-ms-expand {
				display: none; }
		footer section#contains-locations-dropdown .select-outer-div .select {
			position: relative;
			display: flex;
			width: 15em;
			height: 3em;
			line-height: 3;
			background: #515153;
			overflow: hidden;
			border-radius: .25em;
			/* Arrow */
			/* Transition */ }
			footer section#contains-locations-dropdown .select-outer-div .select::after {
				color: rgba(245, 247, 242, 0.8);
				content: '\25BC';
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 1em;
				background: #515153;
				cursor: pointer;
				pointer-events: none;
				-webkit-transition: .25s all ease;
				-o-transition: .25s all ease;
				transition: .25s all ease; }
			footer section#contains-locations-dropdown .select-outer-div .select:hover::after {
				color: #0273b9; }
	footer section#single-location {
		width: 15em;
		margin: 0px auto;
		max-width: 50%;
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap; }
		footer section#single-location > div.single-location {
			-webkit-flex-flow: column nowrap;
			-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
			-webkit-box-pack: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			background: #0273b9;
			color: rgba(245, 247, 242, 0.8);
			opacity: 1;
			transition: opacity 1.4s ease-in-out; }

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; }

::-moz-selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

::selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

html {
	color: var(--text-color);
	background: var(--near-white);
	font-size: 16px;
	min-width: 320px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

body {
	margin: 0; }

body,
button,
input,
select,
textarea {
	line-height: 1.76471; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
section,
summary {
	display: block;
	margin: 0;
	padding: 0; }

pre {
	padding-left: 80px; }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline; }

audio:not([controls]) {
	display: none;
	height: 0; }

p {
	margin: 0; }

hr {
	height: 1px;
	border: 0;
	margin: 0;
	color: var(--text-color); }

picture {
	display: block; }

b,
strong {
	font-weight: var(--bold); }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; }

small {
	font-size: calc(var(--global-font-size) / 2); }

sub,
sup {
	font-size: calc((var(--global-font-size) / 2) * 0.75);
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -.5em; }

sub {
	bottom: -.25em; }

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation; }
	a:active, a:hover {
		outline: 0; }

img {
	border: 0; }

svg:not(:root) {
	overflow: hidden; }

ol,
ul {
	list-style: none; }

li,
ol,
ul {
	margin: 0;
	padding: 0; }

blockquote,
q {
	margin: 0;
	quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

td,
th {
	padding: 0; }

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	border-radius: 0;
	border: 0;
	background: 0 0; }

button,
select {
	text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

input {
	line-height: normal; }

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto; }

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none; }

fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0; }

textarea {
	overflow: auto; }

.wrapper {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; }

@media (min-width: 581px) {
	.wrapper {
		padding-left: 40px;
		padding-right: 40px; } }

.wrapper--full {
	padding: 0; }

.wrapper--no-center {
	margin: 0; }

.wrapper--main-inner {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

@media (min-width: 581px) {
	.wrapper--main-inner {
		max-width: 760px; } }

.wrapper--main-inner.wrapper--full {
	max-width: 680px; }

.wrapper--main-middle {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 904px; }

@media (min-width: 581px) {
	.wrapper--main-middle {
		max-width: 944px; } }

.wrapper--main-middle.wrapper--full {
	max-width: 864px; }

.wrapper--main-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1090px; }

@media (min-width: 581px) {
	.wrapper--main-outer {
		max-width: 1130px; } }

.wrapper--main-outer.wrapper--full {
	max-width: 1050px; }

.wrapper--main-outermost {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1590px; }

@media (min-width: 581px) {
	.wrapper--main-outermost {
		max-width: 1630px; } }

.wrapper--main-outermost.wrapper--full {
	max-width: 1550px; }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap {
		-webkit-transition: .2s padding ease;
		transition: .2s padding ease;
		max-width: 720px; } }

@media (max-width: 890px) and (min-width: 581px) {
	.wrapper--main-inner-below-lap {
		max-width: 760px; } }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap.wrapper--full {
		max-width: 680px; } }

.wrapper--main-inner-then-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

.wrapper--main-inner-then-outer.wrapper--full {
	max-width: 680px; }

@media (min-width: 581px) {
	.wrapper--main-inner-then-outer {
		max-width: 760px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 680px; } }

@media (min-width: 891px) {
	.wrapper--main-inner-then-outer {
		max-width: 1130px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 1050px; } }

.content {
	padding-top: 120px;
	padding-bottom: 80px; }

@media (min-width: 891px) {
	.content {
		padding-bottom: 150px; } }

.content--flush {
	padding-bottom: 0; }

.content__module + .content__module {
	margin-top: 40px; }

@media (min-width: 581px) {
	.content__module + .content__module {
		margin-top: 60px; } }

@media (min-width: 891px) {
	.content__module + .content__module {
		margin-top: 100px; } }

.content__module + .content__module--close,
.content__module--close {
	margin-top: 80px; }

.content__module--flush:last-child {
	margin-bottom: -42px; }

@media (min-width: 581px) {
	.content__module--flush:last-child {
		margin-bottom: -62px; } }

@media (min-width: 891px) {
	.content__module--flush:last-child {
		margin-bottom: -51px; } }

.content__module--flush + .content__module--flush,
.content__module--flush + .content__module--flush-top,
.content__module--overlap-below + .content__module--flush {
	margin-top: 0; }

@media (min-width: 951px) {
	.content__module--overlap-below + .content__module--flush {
		margin-top: -10px;
		position: relative;
		z-index: -1; } }

.make-visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	height: 1px;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important; }

/* No reason not to have a cool thing happen when people select text, right? */
::selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

body.tax-location #taxonomy-header {
	padding-left: 80px;
	min-width: 100%;
	height: 700px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end; }
	body.tax-location #taxonomy-header .address-information {
		background-blend-mode: lighten;
		padding: 2em;
		background: rgba(245, 247, 242, 0.8);
		max-width: 60%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		color: #0273b9; }
		body.tax-location #taxonomy-header .address-information > :first-child {
			font-size: 2rem;
			text-transform: uppercase; }

body.tax-location #currently-available-positions-at-this-location {
	padding-left: 80px;
	min-width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center; }
	body.tax-location #currently-available-positions-at-this-location .jobs-grid {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center; }
		body.tax-location #currently-available-positions-at-this-location .jobs-grid figure {
			display: flex;
			flex-flow: row nowrap;
			margin: 3em auto;
			color: rgba(245, 247, 242, 0.8);
			background: #0273b9;
			font-size: 0.875em;
			width: 40vw; }
			body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption {
				padding: 1.25rem;
				box-sizing: border-box;
				position: relative;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-around;
				align-items: center; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption:before {
					position: absolute;
					content: '';
					display: block;
					height: 0;
					width: 0;
					border-style: solid;
					border-width: 1rem;
					border-color: transparent #0273b9 transparent transparent;
					top: 50%;
					margin-top: -1rem;
					left: -2rem; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h3,
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 {
					font-family: Montserrat, serif;
					color: rgba(245, 247, 242, 0.8);
					letter-spacing: .1rem; }
				body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 {
					font-style: italic;
					margin-bottom: 0.4rem; }
					body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 span {
						margin-right: .876rem; }
					body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a {
						color: rgba(50, 50, 50, 0.6);
						font-weight: 700;
						text-shadow: none; }
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a::before {
							color: #fff;
							content: attr(data-hover);
							position: absolute;
							transition: transform 0.3s, opacity 0.3s; }
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a:hover::before,
						body.tax-location #currently-available-positions-at-this-location .jobs-grid figure figcaption h4 a :focus::before {
							transform: scale(0.9);
							opacity: 0; }

/*# sourceMappingURL=../../../maps/dev/css/partials/additional_styles.css.map */
