*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; }

::-moz-selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

::selection {
	color: var(--near-white);
	background-color: var(--select-bg); }

html {
	color: var(--text-color);
	background: var(--near-white);
	font-size: var(--global-font-size);
	min-width: 320px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

body {
	margin: 0; }

body,
button,
input,
select,
textarea {
	line-height: 1.76471; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
section,
summary {
	display: block;
	margin: 0;
	padding: 0; }

pre {
	padding-left: 80px; }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline; }

audio:not([controls]) {
	display: none;
	height: 0; }

p {
	margin: 0; }

hr {
	height: 1px;
	border: 0;
	margin: 0;
	color: var(--text-color); }

picture {
	display: block; }

b,
strong {
	font-weight: var(--bold); }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; }

small {
	font-size: calc(var(--global-font-size) / 2); }

sub,
sup {
	font-size: calc((var(--global-font-size) / 2) * 0.75);
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -.5em; }

sub {
	bottom: -.25em; }

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation; }
	a:active, a:hover {
		outline: 0; }

img {
	border: 0; }

svg:not(:root) {
	overflow: hidden; }

ol,
ul {
	list-style: none; }

li,
ol,
ul {
	margin: 0;
	padding: 0; }

blockquote,
q {
	margin: 0;
	quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

td,
th {
	padding: 0; }

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	border-radius: 0;
	border: 0;
	background: 0 0; }

button,
select {
	text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

input {
	line-height: normal; }

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto; }

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none; }

fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0; }

textarea {
	overflow: auto; }

.wrapper {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; }

@media (min-width: 581px) {
	.wrapper {
		padding-left: 40px;
		padding-right: 40px; } }

.wrapper--full {
	padding: 0; }

.wrapper--no-center {
	margin: 0; }

.wrapper--main-inner {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

@media (min-width: 581px) {
	.wrapper--main-inner {
		max-width: 760px; } }

.wrapper--main-inner.wrapper--full {
	max-width: 680px; }

.wrapper--main-middle {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 904px; }

@media (min-width: 581px) {
	.wrapper--main-middle {
		max-width: 944px; } }

.wrapper--main-middle.wrapper--full {
	max-width: 864px; }

.wrapper--main-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1090px; }

@media (min-width: 581px) {
	.wrapper--main-outer {
		max-width: 1130px; } }

.wrapper--main-outer.wrapper--full {
	max-width: 1050px; }

.wrapper--main-outermost {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 1590px; }

@media (min-width: 581px) {
	.wrapper--main-outermost {
		max-width: 1630px; } }

.wrapper--main-outermost.wrapper--full {
	max-width: 1550px; }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap {
		-webkit-transition: .2s padding ease;
		transition: .2s padding ease;
		max-width: 720px; } }

@media (max-width: 890px) and (min-width: 581px) {
	.wrapper--main-inner-below-lap {
		max-width: 760px; } }

@media (max-width: 890px) {
	.wrapper--main-inner-below-lap.wrapper--full {
		max-width: 680px; } }

.wrapper--main-inner-then-outer {
	-webkit-transition: .2s padding ease;
	transition: .2s padding ease;
	max-width: 720px; }

.wrapper--main-inner-then-outer.wrapper--full {
	max-width: 680px; }

@media (min-width: 581px) {
	.wrapper--main-inner-then-outer {
		max-width: 760px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 680px; } }

@media (min-width: 891px) {
	.wrapper--main-inner-then-outer {
		max-width: 1130px; }
	.wrapper--main-inner-then-outer.wrapper--full {
		max-width: 1050px; } }

.content {
	padding-top: 120px;
	padding-bottom: 80px; }

@media (min-width: 891px) {
	.content {
		padding-bottom: 150px; } }

.content--flush {
	padding-bottom: 0; }

.content__module + .content__module {
	margin-top: 40px; }

@media (min-width: 581px) {
	.content__module + .content__module {
		margin-top: 60px; } }

@media (min-width: 891px) {
	.content__module + .content__module {
		margin-top: 100px; } }

.content__module + .content__module--close,
.content__module--close {
	margin-top: 80px; }

.content__module--flush:last-child {
	margin-bottom: -42px; }

@media (min-width: 581px) {
	.content__module--flush:last-child {
		margin-bottom: -62px; } }

@media (min-width: 891px) {
	.content__module--flush:last-child {
		margin-bottom: -51px; } }

.content__module--flush + .content__module--flush,
.content__module--flush + .content__module--flush-top,
.content__module--overlap-below + .content__module--flush {
	margin-top: 0; }

@media (min-width: 951px) {
	.content__module--overlap-below + .content__module--flush {
		margin-top: -10px;
		position: relative;
		z-index: -1; } }

/*# sourceMappingURL=../../../maps/dev/css/partials/general-styles.css.map */
